<!DOCTYPE html>
  <html>
    <head>
      <title>BLOG</title>
      <link rel= "stylesheet" href="/public/stylesheet.css" />
      <script type="text/JavaScript" src="/public/jquery/dist/jquery.js"></script>
      <script type="text/javascript" src="/public/java.js"></script>
    </head>

    <body id="indvBlogBody">

      <div id="navbar">
        <ul>
          <li>
            <a href="/">Blog Home</a></li>
          <li>
            <a href="/blog/post">Add Post</a></li>
        </ul id=list>
      </div>

        <h1 id="indvBlogTitle"><%=post.title%></h1>
      <div id= "indvBlog">
        <p id="indvBlogAuther">Posted by: <%= post.auther %><p>
        <p id= "indvBlogPost"><%= post.post%></p>
        <p id= "indvBlogTimestamp"><%=post.timestamp%></p>
      </div>
    <div id="buttons">
      <a id="editBtn" value="Edit" href="/post/edit/<%= post._id %>">Edit</a>
      <a id="deleteBtn" class="delete_post" data-id="<%= post._id %>"
         href="#">Delete</a>
    </div>
    
    </body>
  </html>
